---
import { configApp } from '@/configs';
import Layout from '@/layouts/Layout.astro';
import { DropletIcon } from 'astro-feather';
import FormContact from './FormContact.astro';
import HeaderSection from '@/components/HeaderSection/index.astro';
---

<Layout title="Liên hệ" description="Liên hệ với chúng tôi">
  <main class="contact">
    <HeaderSection title={configApp.company_name} />

    <hr />

    <div class="contact-info">
      {
        configApp.company_office_address.map((item) => (
          <div>
            <p>{item.name}</p>
            <div>
              <DropletIcon />
              <p>{item.address}</p>
            </div>
            <p>Hotline: {item.hostline}</p>
            <p>Email: {item.email}</p>
          </div>
        ))
      }
    </div>
    <hr />

    <FormContact />
  </main>
</Layout>
