---
import { configApp } from '@/configs';
import Layout from '@/layouts/Layout.astro';
import HeaderSection from '@/components/HeaderSection/index.astro';

if (!configApp.isCertification) {
  return Astro.redirect('/404');
}
---

<Layout
  title="Chính sách bảo mật"
  description="Chính sách bảo mật của chúng tôi cam kết bảo vệ thông tin cá nhân của bạn. Tìm hiểu về cách chúng tôi thu thập, sử dụng, và bảo vệ dữ liệu của bạn, cũng như quyền lợi của bạn trong việc quản lý thông tin cá nhân. Chúng tôi đảm bảo rằng mọi thông tin được xử lý một cách an toàn và minh bạch."
>
  <section class="privacy-policy">
    <HeaderSection title="Chính sách bảo mật" />

    <div class="policy-content">
      <p class="policy-content__title">1. Mục đích và phạm vi thu thập</p>
      <p class="policy-content__detail">
        Việc thu thập dữ liệu chủ yếu trên website bao gồm: họ tên, email, điện
        thoại, địa chỉ khách hàng trong mục liên hệ. Đây là các thông tin mà
        chúng tôi cần thành viên cung cấp bắt buộc khi gửi thông tin nhờ tư vấn
        hay muốn mua sản phẩm và để chúng tôi liên hệ xác nhận lại với khách
        hàng trên website nhằm đảm bảo quyền lợi cho cho người tiêu dùng.
        <br />
        Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động
        sử dụng dịch vụ dưới thông tin mà mình cung cấp và hộp thư điện tử của mình.
        Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste chúng
        tôi về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ
        tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
      </p>

      <p class="policy-content__title">2. Phạm vi sử dụng thông tin</p>
      <p class="policy-content__detail">
        Công ty sử dụng thông tin thành viên cung cấp để:
        <ul class="policy-content__detail-ul">
          <li class="policy-content__detail-ul__li">
            Liên hệ xác nhận đơn hàng/dịch vụ và liên hệ giao sản phẩm/dịch vụ
            cho thành viên khi nhận được yêu cầu từ khách hàng;
          </li>
          <li class="policy-content__detail-ul__li">
            Cung cấp thông tin về sản phẩm/dịch vụ đến khách hàng nếu có yêu cầu
            từ khách hàng;
          </li>
          <li class="policy-content__detail-ul__li">
            Gửi email tiếp thị, khuyến mại về hàng hóa/dịch vụ do chúng tôi cung
            cấp;
          </li>
          <li class="policy-content__detail-ul__li">
            Gửi các thông báo về các hoạt động của website công ty chúng tôi ;
          </li>
          <li class="policy-content__detail-ul__li">
            Liên lạc và giải quyết với người dùng trong những trường hợp đặc
            biệt;
          </li>
          <li class="policy-content__detail-ul__li">
            Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác
            nhận và liên hệ có liên quan đến giao dịch tại công ty chúng tôi;
          </li>
          <li class="policy-content__detail-ul__li">
            Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, Tòa án,
            cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào
            đó của khách hàng.
          </li>
        </ul>
      </p>

      <p class="policy-content__title">3. Thời gian lưu trữ thông tin</p>
      <p class="policy-content__detail">
        Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu
        ban quản trị hủy bỏ hoặc có ý kiến hủy bỏ của khách hàng. Còn lại trong
        mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ
        của công ty chúng tôi.
      </p>

      <p class="policy-content__title">
        4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân
      </p>
      <p class="policy-content__detail">
        {configApp.company_name}
        <br />
        Địa chỉ: {configApp.company_office_address}
        <br />
        Điện thoại: {configApp.hotline_1}
        <br />
        Email: {configApp.email}
        <br />
        {configApp.policy}
      </p>

      <p class="policy-content__title">
        5. Phương thức và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá
        nhân của mình.
      </p>
      <p class="policy-content__detail">
        Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông
        tin cá nhân của mình bằng cách liên hệ với ban quản trị website công ty
        chúng tôi thực hiện việc này. Thành viên có quyền gửi khiếu nại về nội
        dung bảo mật thông tin đề nghị liên hệ Ban quản trị của website công ty
        chúng tôi. Khi tiếp nhận những phản hồi này, công ty chúng tôi sẽ xác
        nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo
        mức độ, công ty chúng tôi sẽ có những biện pháp xử lý kịp thời.
      </p>

      <p class="policy-content__title">
        6. Cam kết bảo mật thông tin cá nhân khách hàng
      </p>
      <p class="policy-content__detail">
        Thông tin cá nhân của thành viên trên website công ty chúng tôi được
        công ty chúng tôi cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông
        tin cá nhân của công ty chúng tôi. Việc thu thập và sử dụng thông tin
        của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó
        trừ những trường hợp pháp luật có quy định khác.
        <br />
        Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào
        về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành
        viên.
        <br />
        Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất
        mát dữ liệu cá nhân thành viên, công ty chúng tôi sẽ có trách nhiệm thông
        báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho
        thành viên được biết. Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến
        của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa từ công
        ty chúng tôi.
        <br />
        Ban quản lý công ty chúng tôi yêu cầu các cá nhân khi đăng ký/mua hàng phải
        cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên
        lạc, email, điện thoại…. và chịu trách nhiệm về tính pháp lý của những thông
        tin trên. Ban quản lý công ty chúng tôi không chịu trách nhiệm cũng như không
        giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu
        xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký
        ban đầu là không chính xác.
      </p>

      <p class="policy-content__title">
        7. Cơ chế tiếp nhận và giải quyết khiếu nại của người tiêu dùng liên
        quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã
        thông báo.
      </p>
      <p class="policy-content__detail">
        Thông tin cá nhân của thành viên được cam kết bảo mật tuyệt đối theo
        chính sách bảo vệ thông tin cá nhân. Việc thu thập và sử dụng thông tin
        của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó
        trừ những trường hợp pháp luật có quy định khác.
        <br />
        Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào
        về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành
        viên.
        <br />
        Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất
        mát dữ liệu cá nhân thành viên, chúng tôi sẽ có trách nhiệm thông báo vụ
        việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành
        viên được biết.
        <br />
        Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm
        thông tin hóa đơn kế toán chứng từ số hóa Ban quản lý yêu cầu các cá nhân
        khi đăng ký/mua hàng phải cung cấp đầy đủ thông tin cá nhân có liên quan
        như: Họ và tên, địa chỉ liên lạc, email, điện thoại,…., và chịu trách nhiệm
        về tính pháp lý của những thông tin trên.
        <br />
        Ban quản lý không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại
        có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin
        cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
      </p>
    </div>
    <br />
  </section>
</Layout>
